<div class="tooltip-arrow" style="left:145px;"></div>
<div class="tooltip-inner">
  <span class="lead">Select Language</span>
  <div class="sp5"></div>
  <table class="fill-width">
    <tr>
      <td style="font-size:16px;">C/C++&nbsp;&nbsp;</td>
      <td>
	<label id="nf-cpp" class="radio">
	  <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span><input type="radio" name="codeLang" data-toggle="radio" checked="">
	</label>
      </td>
      <td style="font-size:16px;">Java&nbsp;&nbsp;</td>
      <td>
	<label id="nf-java" class="radio">
	  <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span><input type="radio" name="codeLang" data-toggle="radio">
	</label>
      </td>
      <td style="font-size:16px;">Ruby&nbsp;&nbsp;</td>
      <td>
	<label id="nf-ruby" class="radio">
	  <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span><input type="radio" name="codeLang" data-toggle="radio">
	</label>
      </td>
      <td style="font-size:16px;">Python&nbsp;&nbsp;</td>
      <td>
  <label id="nf-py" class="radio">
    <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span><input type="radio" name="codeLang" data-toggle="radio">
  </label>
      </td>
    </tr>
  </table>
  <div class="sp10"></div>
  <a id="sel-code-template" href="javascript:void(0);" class="btn btn-block btn-lg btn-primary" title="Open Template Selector (Ctrl+Shift+t)">Choose Code Template</a>
  <label class="checkbox" for="checkbox2" style="width:210px;margin-left:40px;">
    <span class="icons">
      <span class="first-icon fui-checkbox-unchecked"></span>
      <span class="second-icon fui-checkbox-checked"></span>
    </span>
    <input id="my-template" type="checkbox" data-toggle="checkbox">
    <span style="font-size:16px;">Save in my code template</span>
  </label>
  <label class="checkbox" for="checkbox3" style="width:158px;margin-left:40px;">
    <span class="icons">
      <span class="first-icon fui-checkbox-unchecked"></span>
      <span class="second-icon fui-checkbox-checked"></span>
    </span>
    <input id="private-code" type="checkbox" data-toggle="checkbox">
    <span style="font-size:16px;">Make file private</span>
  </label>
  <div class="sp1 b-top"></div>
  <div class="sp10"></div>
  <table class="fill-width">
    <tr>
      <td class="p-5">
	<a id="compileBtn" href="javascript:void(0);" class="btn btn-block btn-lg btn-danger" title="Compile Code (Ctrl+Shift+c)">Compile Code</a>
      </td>
      <td class="p-5">
	<a id="outputBtn" href="javascript:void(0);" class="btn btn-block btn-lg btn-success" title="View Output (Ctrl+Shift+o)">View Output</a>
      </td>
    </tr>
  </table>
  
</div>
