<div id="compile" style="display:none;">
  <div class="sp20"></div>
  <center>
    <div style="position:fixed;top:20px;right:20px;">
      <button class="btn btn-info" title="Hide Output" onclick="ele_hide('compile');hideTrans();"><span class="fui-cross"></span></button>
    </div>
    <span id="compileStatus" class="lead" style="display:none;"></span>    
    <div class="sp10"></div>
    <div id="output-window" class="p-20" style=""></div>
    <div class="sp20"></div>
    <span class="lead" style="color:#ffffff;">Press Esc to hide output</span>
  </center>
</div>

<%= form_remote_tag :url => compile_code_url,                              
                    :loading => "",                     
                    :complete => "",
                    :failure => "alert('error in compiling, this is really bad we know, we will fix it soon');",
                    :update => "output-window",                                 
                    :html => {:id => "compile_code"} %>           
<input type="hidden" id="cfile_id" name="file_id" value="<%= (@file.present?)? @file.id : '' %>" />   
<%= end_form %> 
