<div id="dropbox-access-code" class="popup" style="display:none;">
  <span class="fui-cross pull-right pointer" onclick="ele_hide('dropbox-access-code');" style="margin-right:5px;"></span>
  <center><span class="lead">Adding Dropbox for Storage</span></center>  
  <div class="sp20"></div>
  <div class="fill-width">
    <div class="sp30"></div>
    <center>
      <%= form_remote_tag :url => comp_dropbox_integration_url,                              
                    :loading => "ele('dropbox-comp-btn').value='Completing Integration ...'",                     
                    :complete => "ele_hide('dropbox-access-code');",
                    :failure => "",
                    :update => "dropbox-sync-status",                                 
                    :html => {:id => "dropbox-comp-form"} %>          
      <input type="text" name="access_code" placeholder="Enter Access Code from Dropbox" class="form-control" style="width:500px;height:50px;font-size:20px"/>
      <div class="sp20"></div>
      <input id="dropbox-comp-btn" type="submit" class="btn btn-lg btn-info" value="Complete Dropbox Integration" />
      <%= end_form %> 
    </center>
  </div>
</div>
