<table class="fill-width">
  <tr>
    <td class="lead" id="user_name">
      <a href="/" style="padding-top:5px;padding-right:10px;">
	<img alt="AlgoLint" title="AlgoLint" src="/assets/Algolint.png" style="width:35px;">	
      </a>
      <span class="file-path">
	<% if(user_profile.present?) %>
	<a href="<%= user_profile %>"><%= user_display_name %></a>
        <% else %>
	<%= user_display_name %>
	<% end %>
      </span>&nbsp;/&nbsp;<span class="file-path"><%= file_name %></span> 
    </td>
    <td>           
      <% if(@content.present?) %>
      <div class="pull-right btn-toolbar m-5">
        <div class="btn-group">
          <a class="btn btn-primary active" href="javascript:void(0);"><span class="fui-time"></span>&nbsp;&nbsp;<%= (@content.compile.present?)? @content.compile : 0 %></a>
          <a class="btn btn-primary active" href="javascript:void(0);"><span class="fui-eye"></span>&nbsp;&nbsp;<%= (@content.view_count.present?)? @content.view_count : 0 %></a>
          <a class="btn btn-primary<% if(!current_user.present?) %> active<% end %>" href="javascript:void(0);" <% if(current_user.present?) %>onclick="submit_ajax_form('like_code');"<% end %>><span class="fui-heart"></span>&nbsp;&nbsp;<span id="like_count"><%= (@content.like_count.present?)? @content.like_count : 0 %></span></a>
	  <% if(current_user.present? && (@content.user_id == current_user.id)) %>
	  <a class="btn btn-primary" href="<%= root_url(:file => @content.id) %>" title="Edit this file in Editor">
	    <span class="fui-new"></span>
	  </a>
	  <% end %>
	  <% if(current_user.present?) %>
	  <a class="btn btn-primary" href="<%= logout_user_path %>" title="Logout" onclick="return confirm('Logout from Algolint, are you sure?');">
	    <span class="fui-cross"></span>
	  </a>
	  <% end %>
        </div>
      </div>
      <% end %>
      <% if(@contents.present?) %>
      <div class="pull-right btn-toolbar m-5">
        <div class="btn-group">
          <a class="btn btn-primary active" href="javascript:void(0);"><span class="fui-cmd"></span>&nbsp;&nbsp;<%= @contents.size %></a>
	  <%
	     view = 0
	     like = 0
	     @contents.each do|c|
	       view += c.view_count if(!c.view_count.nil?)
	       like += c.like_count if(!c.like_count.nil?)
	     end
	     %>
          <a class="btn btn-primary active" href="javascript:void(0);"><span class="fui-eye"></span>&nbsp;&nbsp;<%= view %></a>
          <a class="btn btn-primary active" href="javascript:void(0);"><span class="fui-heart"></span>&nbsp;&nbsp;<%= like %></a>
	  <a class="btn btn-primary" href="<%= root_url %>" title="Go to editor">
	    <span class="fui-new"></span>
	  </a>
	  <% if(current_user.present?) %>
	  <a class="btn btn-primary" href="<%= logout_user_path %>" title="Logout" onclick="return confirm('Logout from Algolint, are you sure?');">
	    <span class="fui-cross"></span>
	  </a>
	  <% end %>
        </div>
      </div>
      <% end %>
    </td>
  </tr>
</table>
