<div class="tooltip-arrow" style="left:252px;"></div>
<div class="tooltip-inner">
  <span class="lead">Font Size</span>
  <table class="fill-width">
    <tr>
      <td style="font-size:20px;">Small&nbsp;</td>
      <td>
	<label id="smallFont" class="radio checked">
	  <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span><input type="radio" name="font-size" data-toggle="radio">
	</label>
      </td>
      <td style="font-size:20px;">Medium&nbsp;</td>
      <td>
	<label id="mediumFont" class="radio">
	  <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span><input type="radio" name="font-size" data-toggle="radio">
	</label>
      </td>
      <td style="font-size:20px;">Large&nbsp;</td>
      <td>
	<label id="largeFont" class="radio">
	  <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span><input type="radio" name="font-size" data-toggle="radio">
	</label>
      </td>
    </tr>
  </table>
  <div class="sp10"></div> 
  <span class="lead">Themes</span>
  <table class="fill-width" style="width:210px;margin-left:50px;">
    <tr>
      <td style="font-size:20px;">Light</td>
      <td>
	<label id="lightTheme" class="radio">
	  <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span><input type="radio" name="theme" data-toggle="radio">
	</label>
      </td>
      <td style="font-size:20px;">Dark</td>
      <td>
	<label id="darkTheme" class="radio checked">
	  <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span><input type="radio" name="theme" data-toggle="radio">
	</label>
      </td>
    </tr>
  </table>
<% if(false) %>
  <div class="sp20"></div>
  <a href="#fakelink" class="btn btn-block btn-lg btn-info">Connect with Dropbox</a>
<% end %>
  
</div>
