<div id="error-div" class="alert alert-warning" style="display:none;">
  <button type="button" class="close" onclick="ele_hide('error-div')">×</button>
  <strong>Error!</strong> Something went wrong, your changes are not saved. Please reload.
</div>

<div id="content-editor" class="fill-width lead" contenteditable="true" onclick="clearEditor();hideAll();"><% if(@file.present?) %><%=raw @file.content %><% else %>Click to add note<% end %></div>
<div id="update-id"></div>

<%= form_remote_tag :url => save_file_url,                              
                    :loading => "",                     
                    :complete => "save_success()",                                                                
                    :failure => "save_failed()",
                    :update => "update-id",                                 
                    :html => {:id => "save_content"} %>           
<input type="hidden" id="sfile_id" name="file_id" value="<%= (@file.present?)? @file.id : '' %>" />   
<input type="hidden" id="sfile_name" name="file_name" value="" />   
<input type="hidden" id="sfile_desc" name="file_desc" value="" />   
<input type="hidden" id="sfile_content" name="file_content" value="" />   
<%= end_form %> 
