<div id="loading" style="display:none;z-index:22;">
  <div class="sp100"></div>
  <center>
    <span class="lead" style="color:#ffffff;font-size:60px;">Preparing Algolint for You</span>
    <div class="sp30"></div>
    <img src="/assets/loader.gif" title="loading"/>
  </center>
</div>

<%= render(:partial => "home/compile_code") %>
<%= render(:partial => "home/template_popup") %>
<%= render(:partial => "home/fill_popup") %>
<%= render(:partial => "home/dropbox_access_code") %>

<div id="error-div" class="alert alert-warning" style="display:none;">
  <button type="button" class="close" onclick="ele_hide('error-div')">×</button>
  <strong>Error!</strong> Something went wrong, your changes are not saved. Please reload.
</div>

<div id="desc-area" style="display:none;">
  <div class="sp10"></div>
  <textarea id="desc-area-te" class="fill-width" placeholder="Add description to your file"></textarea>
</div>
<div class="sp10"></div>
<div id="editor-area">
  <textarea id="code-editor" placeholder="Write your code/note" style="width:100%;height:100%;"></textarea>
</div>

<%= form_remote_tag :url => set_default_user_editor_setting_url,                              
                    :loading => "",                     
                    :complete => "",
                    :failure => "alert('error in saving your editor preference, this is really bad we know, we will fix it soon');",
                    :update => "setting-res",                                 
                    :html => {:id => "save-user-pref"} %>           
<input type="hidden" id="key-pref" name="keybind" value="<%= (current_user.present? && !current_user.default_keybind.nil?)? current_user.default_keybind : '30' %>" />   
<input type="hidden" id="key-name" value="<%= (current_user.present? && !current_user.default_keybind.nil?)? User::KEY_CODE[current_user.default_keybind] : 'sublime' %>" />   
<input type="hidden" id="size-pref" name="fontsize" value="<%= (current_user.present? && !current_user.default_font_size.nil?)? current_user.default_font_size : '20' %>" />   
<input type="hidden" id="theme-pref" name="theme" value="<%= (current_user.present? && !current_user.default_theme.nil?)? current_user.default_theme : '0' %>" />   
<%= end_form %> 
<div id="setting-res" style="display:none;"></div>

<script type="text/javascript">
  var uid = "<%= @uid %>";
  <% if(@file.present?) %>
  var lastOpenFile = <%= @file.id %>;
  <% else %>
  var lastOpenFile = null;
  <% end %>
  Code.Logic.load();  
</script>

<%= render(:partial => "home/templates") %>

