<script type="text/template" id="fileLinkTemp">
  <tr>
    <td class="p-5 lead file-link">
      <a href="javascript:void(0);" onclick="Code.Logic.openFile({{= file_id }});">{{= file_name }}</a>
    </td>
    <td class="p-5">
      <span class="fui-cross pointer" onclick="Code.Logic.removeFile({{= file_id }});"></span>
    </td>
  </tr>  
</script>

<script type="text/template" id="templateListButton">
  <dd>
    <label class="radio">
      <span class="icons">
	<span class="first-icon fui-radio-unchecked"></span>
	<span class="second-icon fui-radio-checked"></span>
      </span>
      <input type="radio" data-toggle="radio" value="" name="{{= id }}">
      {{= name }}
    </label>
  </dd>  
</script>

<script type="text/template" id="templateListSection">
  <div class="pallete-item" style="width:250px">
    <dl class="palette palette-wet-asphalt">
      <dt>{{= category_name }}</dt>
    </dl>
    <dl class="palette palette-midnight-blue">
      {{= button_html }}
    </dl>
  </div>  
</script>
