<div class="btn-group">
  <a id="addNote" class="btn btn-primary active" href="javascript:void(0);" title="New Note">
    <span class="fui-new"></span>&nbsp;&nbsp;Note
  </a>
  <a id="addCode" class="btn btn-primary" href="javascript:void(0);" title="New Code File">
    <span class="fui-cmd"></span>&nbsp;&nbsp;Code
  </a>
  <a id="viewFile" class="btn btn-primary" href="javascript:void(0);" title="All Files">
    <span class="fui-list"></span>&nbsp;&nbsp;Files
  </a>
  <a id="viewSetting" class="btn btn-primary" href="javascript:void(0);" title="Setting" onclick="">
    <span class="fui-gear"></span>
  </a>
  <a class="btn btn-primary" href="<%= logout_user_path %>" title="Logout" onclick="return confirm('Logout from Algolint, are you sure?');">
    <span class="fui-cross"></span>
  </a>
</div>

<div id="addCode-popup" class="tooltip fade bottom in top-popup" style="display:none;">
  <%= render(:partial => "/home/code_menu") %>
</div>

<div id="viewFile-popup" class="tooltip fade bottom in top-popup" style="display:none;">
  <%= render(:partial => "/home/list_menu") %>
</div>

<div id="viewSetting-popup" class="tooltip fade bottom in top-popup" style="display:none;">
  <%= render(:partial => "/home/setting_menu") %>
</div>
