<h5>Admin Control Panel</h5>
<ul>
  <li><a href="<%= list_codes_url %>">Make Code Templates</a></li>
  <li><a href="<%= list_users_url %>">List Users</a></li>
  <br>
  <li><a href="<%= languages_path %>">Languages</a></li>
  <li><a href="<%= compilers_path %>">Compilers</a></li>
  <li><a href="<%= networks_path %>">Networks</a></li>
  <li><a href="<%= container_stacks_path %>">Container Stacks</a></li>
  <li><a href="<%= containers_path %>">Containers</a></li>
  <li><a href="<%= packages_path %>">Packages</a></li>
  <li><a href="<%= image_configs_path %>">Image Configs</a></li>
  <li><a href="<%= user_compiles_path %>">User Compiles</a></li>
</ul>
