<center>
  Algolint is available to use as <b>Command Line tool</b>
  <br><br>
  Download Package
  <br>  
  <b>Ubuntu/Debian (.deb)</b> <a href="/cli/algolint_1.0-1_all.deb">algolint_1.0-1_all.deb</a><br>
  <b>Redhat/Fedora (.rpm)</b> <a href="/cli/algolint-1.0-2.noarch.rpm">algolint-1.0-2.noarch.rpm</a><br>
  <b>From Source (.tar)</b> <a href="/cli/algolint-cli.tar.gz">algolint-cli.tar.gz</a><br>
  <br>
  or Install from commad line
  <br>
  <b>Ubuntu/Debian (.deb)</b><br>
  <code class="p-10">cd /tmp && wget -q "http://algolint.com/cli/algolint_1.0-1_all.deb" && sudo dpkg -i algolint*all.deb && cd -</code>
  <br><br>
  <b>Redhat/Fedora (.rpm)</b><br>
  <code class="p-10">cd /tmp && wget -q "http://algolint.com/cli/algolint-1.0-2.noarch.rpm" && sudo rpm -i algolint*.rpm && cd -</code>
  <br><br>
  <b>From Source (.tar)</b><br>
  <code class="p-10">cd /tmp && wget -q "http://algolint.com/cli/algolint-cli.tar.gz" && tar xvf algolint-cli.tar.gz && ./setup && cd -</code>
  <br><br>
  <b>How to use</b>
  <br>
  To login from your local system to algolint use,<br>
  <code class="p-10">algolint </code><br>
  This will ask for your algolint credential and save it to your local system for future usage
  <br><br>
  To fetch your files from algolint to your local system, use<br>
  <code class="p-10">algolint get all</code>
  <br><br>
  Create blank new file to your algolint account, use<br>
  <code class="p-10">algolint create filename</code>
  <br><br>
  To save your local file to algolint and compile, use<br>
  <code class="p-10">algolint filename</code>
  <br><br>
  To make anyfile template in your aloglint, use<br>
  <code class="p-10">algolint filename --make-template</code>
  <br><br>
  List all template from your algolint account, use<br>
  <code class="p-10">algolint list-template</code>
  <br><br>
  Create new file and use template, use<br>
  <code class="p-10">algolint create filename --template template-name</code><br>
  <div class="sp20"></div>
  For your complains and suggestions use our twitter handle <a href="http://twitter.com/algolint">@algolint</a>
  <br><br>
  # Happy Coding 
  <div class="sp100"></div>
</center>
