<%= render(:partial => "public_top_nav", :locals => {:user_display_name => @user.get_display_name, :user_profile => profile_url(:uid => @user.get_display_name), :file_name => @content.name }) %>
<div class="sp10"></div>
<% if(@content.desc.present?) %>
<p class="lead code-public-desc"><%= @content.desc %></p>  
<% end %>
<div class="sp10"></div>
<div id="content" class="fill-width lead">
  <textarea id="code-viewer" placeholder="Write your code/note" style="width:100%;height:100%;"><%=raw @content.content %></textarea>
</div>

<% if(@content.output_text.present?) 
     if(@content.status == Content::STATUS_COMPILED)
       op_text = "Output - Compile Success"
       class1 = "emerald"
       class2 = "nephritis"
     elsif(@content.status == Content::STATUS_ERROR)
       op_text = "Output - Compile Failed"
       class1 = "alizarin"
       class2 = "pomegranate"
     end
%>
<div class="m-null pallete-item fill-width">
  <dl class="palette palette-<%= class1 %>">
    <dt><%= op_text %></dt>
  </dl>
  <dl class="palette palette-<%= class2 %>">    
    <dd style="text-transform:none;font-size:25px;">
      <%= @content.output_text %>
    </dd>  
  </dl>
</div>
<% end %>

<script type="text/javascript">
  loadCodeEditorForView("code-viewer", <%= @content.file_type %>);
</script>

<% if(@content.present?) %>
<%= form_remote_tag :url => like_code_url(@content.id),                              
                    :loading => "",                     
                    :complete => "",
                    :failure => "alert('error in like, this is really bad we know, we will fix it soon');",
                    :update => "like_count",                                 
                    :html => {:id => "like_code"} %>           
<%= end_form %> 
<% end %>
