<center>
<div style="width:70%;">
  <h1 class="lead m-null">How To Use Algolint</h1>
  Algolint is your <b>online ide</b> for practice algorithms/programming. The editor screen looks like this,
  <div class="sp10"></div>
  <img class="img-thumbnail" src="/assets/tutorial/1.png"/>
  <div class="sp10"></div>
  Upper left links are <b>Nevigation links</b>, Your profile name is link to your <b>public profile</b>. Your current open file is next to your profile name, to edit file name click on its name on this panel.
  <div class="sp10"></div>
  Left Top buttons are your <b>user menu</b> it looks like this,
  <div class="sp10"></div>
  <img class="img-thumbnail" src="/assets/tutorial/2.png"/>
  <div class="sp10"></div>
  To <b>Create a note</b> click on "Note" Button.
  <div class="sp10"></div>
  <b>Code Menu</b> looks like this,
  <div class="sp10"></div>
  <img class="img-thumbnail" src="/assets/tutorial/3.png"/>
  <div class="sp10"></div>
  To <b>add a code</b> click on the radio buttons for the respective language (C/C++, Java, Ruby or Python). This will add blank code file for you to write code.<br>
  You can choose <b>code template</b> for some general algorithms, by clicking <b>Choose Code Template</b> button. You can also save your own template for future usage. To save your current file as a template select <b>Save in my template</b>. This will make your current file template.<br>
  By default all your notes/codes are public i.e. they are publicly available on your <b>public profile</b> page. You can make them private by selecting <b>Make file private</b> option. <br>
  When you are done with your code you can compile it by clicking <b>Compile Code</b> button (or pressing ctrl+shift+c). Compile screen looks like this,
  <div class="sp10"></div>
  <img class="img-thumbnail" src="/assets/tutorial/8.png"/>
  <div class="sp10"></div>
  You can anytime go back to the output screen by clicking <b>View Output</b> (or pressing ctrl+shift+o).
  <div class="sp20"></div>
  All your files are available on <b>Files Menu</b>. Your <b>recent files</b> are available there, you can choose them to edit or remove them. File menu looks like this,
  <div class="sp10"></div>
  <img class="img-thumbnail" src="/assets/tutorial/4.png"/>
  <div class="sp10"></div>
  To manage all files you can click on <b>Manage File</b> button, Manage File looks like this,
  <div class="sp10"></div>
  <img class="img-thumbnail" src="/assets/tutorial/6.png"/>
  <div class="sp10"></div>
  You can add folders and drag files to them to categorize your files in folders.
  <div class="sp30"></div>
  Your <b>public profile</b> looks like this,
  <div class="sp10"></div>
  <img class="img-thumbnail" src="/assets/tutorial/9.png"/>
  <div class="sp10"></div>
  You can set your editor preferences in <b>Setting menu</b>, it looks like this,
  <div class="sp10"></div>
  <img class="img-thumbnail" src="/assets/tutorial/5.png"/>
  <div class="sp10"></div>
  You can add your <b>Dropbox Account</b> here, that will sync all your files you create here, to your Dropbox account. 
  <div class="sp10"></div>
  You can customize your profile link by clicking <b>Get it now</b> button. There you can check for your profile name availability and if your profile name is available, you can make it your <b>profile links</b>.
  <div class="sp10"></div>
  <img class="img-thumbnail" src="/assets/tutorial/7.png"/>
  <div class="sp20"></div>
  <b>Keyboard Shortcuts:</b><br>
  Compile Code: Ctrl + Shift + c<br>
  View Output: Ctrl + Shift + o<br>
  Manage Files: Ctrl + Shift + m<br>
  <div class="sp20"></div>
  <span class="lead">Algolint is avilable as command line utility, <a href="<%= cli_url %>">Click here to download</a></span>
  <h2 class="lead">You are now ready to start your practice, If you find it useful, share it with your friends also you can find us on social networks. Please give us your valuabe feedback on twitter/facebook. You can also fork algolint on github, Algolint is Open Source :)</h2>
  <a href="https://www.facebook.com/algolint"><img src="/assets/Facebook-icon.png"/></a>
  <a href="https://twitter.com/algolint"><img src="/assets/Twitter-icon.png"/></a>
  <% if(false) %><a href=""><img src="/assets/Youtube-icon.png"/></a><% end %>
  <a href="https://github.com/rishabh-tripathi/algolint.com"><img src="/assets/GitHub-icon.png"/></a>  
  <div class="sp50"></div>  
</div>
</center>
