/* spacing */
.sp1 {
    height: 1px;
    line-height: 1px;
}

.sp2 {
    height: 2px;
    line-height: 2px;
}

.sp3 {
    height: 3px;
    line-height: 3px;
}

.sp5 {
    height: 5px;
    line-height: 5px;
}

.sp10 {
    height: 10px;
    line-height: 10px;
}

.sp15 {
    height: 15px;
    line-height: 15px;
}

.sp20 {
    height: 20px;
    line-height: 20px;
}

.sp25 {
    height: 25px;
    line-height: 25px;
}

.sp30 {
    height: 30px;
    line-height: 30px;
}

.sp50 {
    height: 50px;
    line-height: 50px;
}

.sp100 {
    height: 100px;
    line-height: 100px;
}

.sp200 {
    height: 200px;
    line-height: 200px;
}

.sp500 {
    height: 500px;
    line-height: 500px;
}

/* border classes */
.b-top {
    border-top: 1px solid #2C3E50;
}

.b-right {
    border-right: 1px solid #2C3E50;
}

.b-left {
    border-left: 1px solid #2C3E50;
}

.b-bottom {
    border-bottom: 1px solid #2C3E50;
}

.b-top-left {
    border-top: 1px solid #2C3E50;
    border-left: 1px solid #2C3E50;
}

.b-top-right {
    border-top: 1px solid #2C3E50;
    border-right: 1px solid #2C3E50;
}

.b-bottom-left {
    border-top: 1px solid #2C3E50;
    border-left: 1px solid #2C3E50;
}

.b-bottom-right {
    border-top: 1px solid #2C3E50;
    border-right: 1px solid #2C3E50;
}

.b-all {
    border: 1px solid #2C3E50;
}

.p-null {
    padding: 0px;
}

.p-2 {
    padding: 2px;
}

.p-3 {
    padding: 3px;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.m-null {
    margin: 0px;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.m-30 {
    margin: 30px;
}

.pm-null {
    padding: 0px;
    margin: 0px;
}

.error {
    color: red;
}

body {
    background-color: #fafafa;
    min-height: 630px;
}

.fill-width {
    width: 100%;
}

.fill-height {
    height: 100%;
}
 
.main {
    margin: 0px auto;
    padding: 0px 20px;
}

.logo-text {
    font-size: 40px;
    color: #34AADC;
}

#al-top-bar {
    margin-bottom: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 20;
    background: #fafafa;
}

.clear {
    clear:both;
}

.footer {
    position: fixed;
    right: 20px;
    bottom: 0px;
}

#content-editor {
    min-height: 500px;
    border: 0px;
    outline: 0px solid transparent;
}

.file-path {
    cursor: pointer;
}

.top-popup {
    top: 48px;
    width: 325px;
}

.top-popup .tooltip-inner {
    max-width: 400px;
    width: 325px;
}

.file-link {
    text-align:left;
    font-size: 18px; 
}

.file-link a {
    color: #ffffff;
}

.file-link a:hover {
    border-bottom: 1px solid #16A085;
}

.file-link-active a {
    color: #16A085;
}

#transLayer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: #2B2B2B;
    opacity: 0.9;
}

.pointer {
    cursor: pointer;
}

.tab-sp {
    width: 30px;
}

#compile {
    position: fixed;
    top: 30px;
    left: 0px;
    width: 100%;
    z-index: 22;
}

#compileLoad {
    width: 100px;
}

#compileStatus {
    font-size: 60px;
    color: #ffffff;
}

#output-window {
    width: 60%;
    min-width: 300px;
    min-height: 350px;
    background: #2B2B2B;
    color: #ffffff;
    text-align: left;
    overflow: auto;
}

#template-popup {
    position: absolute;
    top: 30px;
    margin: 0px auto;
    width: 95%;
    padding: 10px;
    background: #e0e0e0;
    z-index: 22;
}

.space {
    width: 30px;    
}

#editor-area {
    font-size: 30px;
}

.code-public-desc {
    background: #ECF0F1;
    color: #34495E;
    font-size: 25px;
    margin: 0px;
    padding: 5px 30px;
}