  <meta name="google-site-verification" content="iKsh-mIGyJ9LRp-t7m2lEg6AHuYlUGVW3NIMl1tKzJQ" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">  
  <meta http-equiv="content-language" content="en-us">    
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">   
  <meta http-equiv="Cache-control" content="public"> 
  <meta name="robots" content="all"/>
  <meta name="application-name" content="AlgoLint"/>
  <link rel="canonical" href="<%= request.fullpath %>" />
  <link rel="shortcut icon" href="/favicon.ico"/>  
  <meta name="copyright" content="Algolint.com"/>
  <meta name="author" content="Algolint.com"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <title>AlgoLint - Algorithm Practice Tool</title>
  <meta name="keywords" content="Algorithm Practice Tool"/>
  <meta name="description" content="Algorithm Practice Tool"/>
  <meta property="fb:page_id" content="1438715646380240" />
  
  <% if(false) %>
  <!-- apple app icons -->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" href="/apple-touch-icon-57x57.png" /> 
  <% end %> 

  <!-- schema.org -->
  <meta itemprop="name" content="Algolint.com">
  <meta itemprop="description" content="Algorithm Practice Tool">
  <meta itemprop="image" content="/assets/Algolint.png">
  
  <!-- twitter card -->
  <meta name="twitter:card" content="Algolint">
  <meta name="twitter:url" content="http://algolint.com">
  <meta name="twitter:description" content="Algorithm practice tool">
  <meta name="twitter:title" content="Algolint.com">
  <meta name="twitter:image" content="/assets/Algolint.png"> 

  <!-- facebook open graph -->
  <meta property="og:title" content="Algolint"/>
  <meta property="og:description" content="Algorithm practice tool"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="/assets/Algolint.png"/>
  <meta property="og:site_name" content="Algolint.com"/>    
  <meta property="og:url" content="http://algolint.com"/>
